@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(../fonts/material/MaterialIcons-Regular.woff2) format('woff2'), url(../fonts/material/MaterialIcons-Regular.woff) format('woff'), url(../fonts/material/MaterialIcons-Regular.ttf) format('truetype');
}

.gmnoprint a,
.gmnoprint span {
    display: none;
}

.gmnoprint div {
    background: none !important;
}

#map div div a div img {
    display: none !important;
    pointer-events: none !important;
}

#map div div a {
    pointer-events: none !important;
    cursor: default !important;
}

#map_glogo {
    width: 18%;
    max-width: 70px;
    position: fixed;
    bottom: 50px;
    padding-left: 5px;
    padding-bottom: 5px;
    left: 0px;
    z-index: 1;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

::-webkit-scrollbar {
    display: none;
}

#payment_method_on_button {
    vertical-align: middle;
}

.pac-item {
    line-height: 50px !important;
}

.pac-icon {
    display: none;
}

input,
textarea,
select {
    -webkit-appearance: none;
}

* {
    outline: none;
}

html,
body {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: sans-serif !important;
}

#search_animation {
    position: fixed;
    background-image: url(afritaxi.png);
    background-size: cover;
    background-position: center center;
    background-color: white;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 100000000000000000000000000000000000000;
    display: none;
}

#search_animation .searcher {
    margin-top: 27%;
    padding: 10px;
    border-radius: 6px;
    background-color: white;
}

#search_animation .searcher_logo {
    margin-top: 10%;
    width: 250px;
    display: none;
}

#loading_reset {
    position: fixed;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    text-align: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    cursor: pointer;
    bottom: 15px;
    display: none;
}

.poi-info-window a {
    display: none;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body,
#map {
    margin: 0;
    padding: 0;
}

#map {}

#ios_titlebar {
    width: 100%;
    position: absolute;
    top: 0px;
    height: 25px;
    background-image: url(titlebar_ios.png);
    background-size: 100% 100%;
    z-index: 1;
    display: none;
}

#locationfieldholder {
    position: absolute;
    background-color: white;
    left: 60px;
    z-index: 1;
    top: 22px;
    height: 44px;
    display: table;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    display: none;
}

#locationfield {
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 100%;
    background-image: url(magnify.svg);
    background-size: 24px 24px;
    background-position: 5px center;
    background-repeat: no-repeat;
}

#inlocationfield {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 16px;
    width: 100%;
    border: none;
    height: 100%;
    background-color: transparent;
    padding-left: 33px;
    padding-right: 5px;
    box-sizing: border-box;
}

#menubutton {
    background-image: url(menu.svg);
    background-size: 24px 24px;
    background-position: center center;
    background-color: white;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
    width: 44px;
    top: 22px;
    left: 8px;
    height: 44px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

#taxis_online_info {
    margin-top: 32px !important;
}

#locationbutton {
    background-size: 24px 24px;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
    width: 44px;
    top: 76px;
    right: 8px;
    margin-right: 0px;
    background-color: white;
    height: 44px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

#customercarebutton {
    background-size: 24px 24px;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
    width: 44px;
    top: 130px;
    right: 8px;
    margin-right: 0px;
    background-color: white;
    height: 44px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

#customercarebuttonside {
    right: 0px;
    position: absolute;
    bottom: 30%;
    width: 70px;
    height: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgba(45, 150, 182, 0.8);
    z-index: 10000000000000000;
    background-repeat: no-repeat;
    background-size: 50% auto;
    background-position: 32px center;
    display: none;
}

.addtrans {
    transition: all 0.5s;
}

#calltaxiui {
    width: 100%;
    position: fixed;
    bottom: 0px;
    z-index: 1;
    display: block;
    transition: all 0.5s;
    background-color: white;
    height: 50px;
    opacity: 0;
    padding: 5px;
    box-sizing: border-box;
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.3);
}

#calltaxiui #ride_now_button .start_buttons {
    position: fixed;
    width: 33.3%;
    bottom: 5px;
    left: 0px;
    margin-left: 1%;
}

#calltaxiui #ride_later_button .start_buttons {
    position: fixed;
    z-index: 9;
    width: 30%;
    bottom: 5px;
    right: 35%;
}

#calltaxiui #call_now_button .start_buttons {
    position: fixed;
    z-index: 11;
    width: 33.3%;
    bottom: 5px;
    right: 0;
    margin-right: 1%;
}

.start_buttons {
    position: fixed;
    height: 40px;
    background-color: #A2332A;
    border: none;
    text-align: center;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 0px;
}

.start_button_pick {
    padding-top: 6px;
    font-size: 11px;
}

.start_button_time {
    font-weight: bold;
    font-size: 13px;
}

#overlay {
    background-image: url(directions.png);
    background-size: 100% 100%;
    opacity: 0.7;
    position: absolute;
    z-index: 10000000000000000;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
}

#loadingindicator {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: 10000000000000000;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    text-align: center;
}

#loadingindicator img {
    margin-top: 100px;
    width: 80px;
    border-radius: 15px;
}

#divider {
    height: 1px;
    width: 100%;
    display: block;
    background-color: lightgrey;
}

#pages {
    width: 96%;
    height: 100%;
    overflow: scroll;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 102;
    background-color: white;
    display: none;
    padding-left: 2%;
    padding-right: 2%;
}

.gm-style-pbt {
    padding-top: 100px !important;
}

.menugpsblue {
    background-image: url(crosshairs-gps_blue.svg);
    background-size: 100% 100%;
}

.menugps {
    background-image: url(crosshairs-gps.svg);
    background-size: 100% 100%;
}

.menucustomercare {
    background-image: url(comment-multiple-outline.svg);
    background-size: 100% 100%;
}

#locationfinderdialog_x {
    padding: 5px;
    position: absolute;
    right: 0px;
}

#locationfinderdialog {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0%;
    background-color: #ededed;
    display: none;
    z-index: 300;
}

#gosearchbyaddress {
    font-family: 'Roboto', sans-serif;
    border: solid 2px white;
    font-size: 14px;
    background-color: transparent;
    text-align: center;
    color: white;
    margin-left: 25%;
    width: 50%;
    line-height: 250%;
    text-transform: uppercase;
    border-radius: 0px;
    display: none;
}

#searchbyaddress_clear {
    position: absolute;
    width: 48px;
    height: 48px;
    right: 0px;
    top: 0px;
    background-image: url(close.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    border: none;
}

#searchbyaddress_back {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 0px;
    top: 0px;
    background-image: url(arrow-left.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    border: none;
}

#searchbyaddress {
    font-size: 14px;
    border: none;
    color: black;
    background-color: white;
    width: 100%;
    padding-left: 48px;
    padding-right: 48px;
    height: 48px;
    box-sizing: border-box;
    -webkit-appearance: none;
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.3);
}

#searchbyaddress:focus,
#searchbyaddress_clear:focus {
    outline: none;
}

#lat,
#long {
    display: none;
}

.blur {
    -webkit-filter: blur(3px);
    pointer-events: none;
}

#menubtn_hitzone {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50px;
    height: 70px;
    z-index: 2;
}

#loading_map_indicator {
    opacity: 0.9;
    font-family: sans-serif;
    text-align: center;
    font-weight: 300;
    font-size: 100%;
    position: absolute;
    z-index: 200;
    width: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 25%;
    bottom: 25%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    box-shadow: 2px 2px 6px 0.7px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    pointer-events: none;
    cursor: default;
}

#expanded_customer_care_close {
    background-image: url(swiperight.png);
}

#swipehand {
    background-image: url(swipeleft.png);
}

#swipehand,
#expanded_customer_care_close {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    margin-top: 8px;
    margin-left: 0px;
    width: 20px;
    height: 24px;
    display: block;
    padding: 5px;
}

#customercare_whatsapp {
    position: absolute;
    border-radius: 6px;
    border: solid 2px white;
    padding-top: 5px;
    padding-bottom: 1px;
    padding-left: 7px;
    padding-right: 7px;
    margin-top: -36px;
    margin-left: 40px;
}

#customercare_sms {
    position: absolute;
    border-radius: 6px;
    border: solid 2px white;
    padding-top: 5px;
    padding-bottom: 1px;
    padding-left: 7px;
    padding-right: 7px;
    margin-top: -36px;
    margin-left: 40px;
}

#customercare_call {
    position: absolute;
    border-radius: 6px;
    border: solid 2px white;
    padding-top: 5px;
    padding-bottom: 1px;
    padding-left: 7px;
    padding-right: 7px;
    margin-top: -36px;
    margin-left: 87px;
}

#account_button_phone {}
