@media only screen and (min-width: 450px) {
    #overlay {
        display: none;
    }
    #pickup_booking_date {

    }
    #detailedlocation_date_time_button {

    }
    #dialataxi {
        width: 600px !important;
        right: 0px !important;
        left: auto !important;
    }
}