.modal250_title {
    font-family: Roboto, sans-serif;
    font-size: 22px;
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}
.modal250_cancel_button {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    text-align: center;
    color: white;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.modal250 {
    position: absolute;
    width: 80%;
    left: 10%;
    top: 5%;
    background-color: #424242;
    box-shadow: 2px 2px 6px 0.7px rgba(0, 0, 0, 0.5);
}
.modal250bg {
    display: none;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 100000;
}
