#user_pin {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    margin: auto;
    pointer-events: none;
}
#user_pin_eta {
    position: absolute;
    background-color: #B43639;
    width: 160px;
    height: 32px;
    border-radius: 100px;
    z-index: 11;
    pointer-events: none;
    margin-left: -55px;
    margin-top: -7px;
    transition: all 0.2s;
    background-image: url(../scanner/ring.svg);
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
}

#user_pin_eta #eta {
    position: absolute;
    color: white;
    text-align: center;
    margin-top: 4px;
    font-size: 12px;
    width: 32px;
}
#user_pin_eta #eta_min {
    position: absolute;
    color: white;
    text-align: center;
    margin-top: 16px;
    font-size: 9px;
    width: 32px;
}

#user_pin_eta #dro {
    position: absolute;
    margin-top: 10px;
    margin-left: 40px;
    color: greenyellow;
    font-size: 11px;
    text-transform: uppercase;
}