<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.twofiftytaxi.app" versionCode="42" version="2.5">

        <name>Afritaxi</name>

        <description>
            Taxi Booking Service
        </description>

        <author href="https://afrionline.net" email="info@afrionline.net">
            Jens Bröcher
        </author>

        <icon src="icon.png" />

        <platform name="android"></platform>

        <preference name="android-minSdkVersion" value="15" />
        <preference name="android-targetSdkVersion" value="20" />
        
        <preference name="android-build-tool" value="gradle" />

        <!-- Plugins -->

        <gap:plugin name="cordova-plugin-statusbar" source="npm" />

        <gap:plugin name="cordova-plugin-device" source="npm" />

        <gap:plugin name="cordova-plugin-device-orientation" source="npm" />

        <gap:plugin name="cordova-plugin-file" source="npm" />

        <gap:plugin name="cordova-plugin-file-transfer" source="npm" />

        <gap:plugin name="cordova-plugin-geolocation" source="npm" />

        <gap:plugin name="cordova-plugin-inappbrowser" source="npm" />

        <gap:plugin name="cordova-plugin-media" source="npm" />

        <gap:plugin name="cordova-plugin-whitelist" source="npm" />

        <gap:plugin name="cordova-plugin-screen-orientation" source="npm" />

        <gap:plugin name="cordova-plugin-fastrde-checkgps" source="npm" />

        <gap:plugin name="cordova-plugin-barcodescanner" source="npm" />
        
        <gap:plugin name="cordova-plugin-crosswalk-webview-pgb-adapt" source="npm" version="1.4.0-dev-5"/>
        
        <preference name="xwalkVersion" value="org.xwalk:xwalk_core_library:14+" />
        
        <plugin name="cordova-build-architecture" spec="https://github.com/MBuchalik/cordova-build-architecture.git#v1.0.1" source="git" />

        <gap:plugin name="onesignal-cordova-plugin" source="npm" />

        <gap:plugin name="cordova-plugin-x-socialsharing" source="npm" />

        <gap:plugin name="cordova-plugin-facebook4" source="npm">
            <param name="APP_ID" value="287641408285720" />
            <param name="APP_NAME" value="AFRITAXI" />
        </gap:plugin>

    </widget>