<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.twofiftytaxi.app"
        versionCode = "11" 
        version     = "1.8.2" >

    <name>250 Taxi</name>

    <description>
		Taxi Booking Service
    </description>

    <author href="https://www.250taxi.com" email="info@250taxi.com">
        Jens Bröcher / Afshon Group
    </author>
	
	<icon src="icon.png" />
		


</widget>