<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.twofiftytaxi.app" versionCode="46" version="3.0">

    <preference name='pgb-builder-version' value='1' />

    <name>AfriTaxi</name>

    <description>
        Taxi Booking Service
    </description>

    <author href="https://afrionline.net" email="info@afrionline.net">
        Jens Bröcher
    </author>

    <preference name="orientation" value="portrait" />

    <icon src="icon.png" />

    <platform name="android" />

    <preference name="android-minSdkVersion" value="15" />
    <preference name="android-targetSdkVersion" value="20" />

    <preference name="android-build-tool" value="gradle" />

    <!-- Plugins -->

    <gap:plugin name="cordova-plugin-statusbar" source="npm" />

    <gap:plugin name="cordova-plugin-device" source="npm" />

    <gap:plugin name="cordova-plugin-device-orientation" source="npm" />

    <gap:plugin name="cordova-plugin-file" source="npm" />

    <gap:plugin name="cordova-plugin-file-transfer" source="npm" />

    <gap:plugin name="cordova-plugin-geolocation" source="npm" />

    <gap:plugin name="cordova-plugin-inappbrowser" source="npm" />

    <gap:plugin name="cordova-plugin-media" source="npm" />

    <gap:plugin name="cordova-plugin-whitelist" source="npm" />

    <gap:plugin name="cordova-plugin-screen-orientation" source="npm" />

    <gap:plugin name="onesignal-cordova-plugin" source="npm" />

    <gap:plugin name="cordova-plugin-x-socialsharing" source="npm" />

    <gap:plugin name="cordova-plugin-facebook4" source="npm">
        <param name="APP_ID" value="287641408285720" />
        <param name="APP_NAME" value="AFRITAXI" />
    </gap:plugin>

</widget>
