@charset "utf-8";
html {
    background-image: url(kigali_blur.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
.page1 {
	font-family: Roboto, sans-serif;
	font-size: 18px;
	color: #000;
	text-align: center;
    margin: 0px;
    padding: 0px;
}
.page2 {
	font-family: Roboto, sans-serif;
	font-size: 18px;
	color: #000;
	background-color: #FFF;
    margin: 0px;
    padding: 0px;
}
.map {
	width: 100%;
	min-height: 250px;
	background-image: url(282b.GIF);
	background-repeat: no-repeat;
	background-position: center center;	
	background-size: 60px 60px;
}
#driverprofiles {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFF;
    width: 100%;
}
.driverphoto img {
    width: 120px;
}
.rating img {
    width: 20px;
}
.driverphoto {
    float: left;
    margin-right: 10px;
}
.driverbox {
    clear: both;
    margin-top: 5px;
    font-size: 80%;
    line-height: 150%;
}
#searchfordrivers {
    padding-left: 10px;
    padding-right: 10px;
}
.bigtext {
background-color: #FFF;
line-height: 200%;
text-align: center;
}
button {
	color: #000;
	background-color: rgba(255,255,255,0.5);
	text-align: center;
	width: 100%;
	display: block;
	border: 0px none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	transition: all 0.5s;
	line-height: 250%;
	margin-top: 12px;
	margin-bottom: 12px;
	margin-right: auto;
	margin-left: auto;
    border-radius: 6px;
    font-size: 110%;
}
#detailsfordb {
	background-color: #E1F2FF;
	height: 100%;
	width: 90%;
	position: absolute;
	left: 0px;
	top: 0px;
	padding-left: 5%;
	padding-right: 5%;
	text-align: left;
	font-size: 16px;
	line-height: 200%;
	color: #666;
}
h1 {
	color: #FFF;
	background-color: #0070C0;
	text-align: center;
	padding-top: 5px;
	font-size: 16px;
	font-weight: normal;
	line-height: 100%;
	padding-bottom: 5px;
}
.textfield {
	border: 1px solid #999;
	width: 100%;
	margin-top: 10px;
	font-size: 14px;
	line-height: 200%;
	text-indent: 5px;
}
.bigcheck {
	width: auto;
	display: inline;
	margin-right: 5px;
	font-size: 20px;
	padding: 5px;
}
#getkptypes {
	margin-top: 10px;
}

#loadingindicator {
	background-color: #E2E2E2;
	position: absolute;
	z-index: 100;
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;
	text-align: center;
}
#loadingindicator img {
	margin-top: 100px;
}
button:active {
  transition: all 0.5s;
}
button:focus {
    outline: none;
}