@charset "utf-8";
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #000;
	background-color: #E1F2FF;
	text-align: center;
}
.map {
	width: 90%;
	border: 5px solid #FFF;
	box-shadow: 0 0 25px 1px rgba(0,0,0,0.3);
	min-height: 250px;
	background-image: url(282b.GIF);
	background-repeat: no-repeat;
	background-position: center center;	
	background-size: 60px 60px;
}

button {
	color: #000;
	background-color: #FFF;
	text-align: center;
	width: 100%;
	display: block;
	border: 2px solid #20603D;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	transition: all 0.5s;
	line-height: 250%;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: auto;
	margin-left: auto;
}
#detailsfordb {
	background-color: #E1F2FF;
	height: 100%;
	width: 90%;
	position: absolute;
	left: 0px;
	top: 0px;
	padding-left: 5%;
	padding-right: 5%;
	text-align: left;
	font-size: 16px;
	line-height: 200%;
	color: #666;
}
h1 {
	color: #FFF;
	background-color: #0070C0;
	text-align: center;
	padding-top: 5px;
	font-size: 16px;
	font-weight: normal;
	line-height: 100%;
	padding-bottom: 5px;
}

.textfield {
	border: 1px solid #999;
	width: 100%;
	margin-top: 10px;
	font-size: 14px;
	line-height: 200%;
	text-indent: 5px;
}
.bigcheck {
	width: auto;
	display: inline;
	margin-right: 5px;
	font-size: 20px;
	padding: 5px;
}
#getkptypes {
	margin-top: 10px;
}

#loadingindicator {
	background-color: #E2E2E2;
	position: absolute;
	z-index: 100;
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;
	text-align: center;
}
#loadingindicator img {
	margin-top: 100px;
}
button:active {
  transition: all 0.5s;
}
button:focus {
    outline: none;
}
